@model Dokument

@{
    ViewBag.Title = "Ažuriranje Dokumenta";
}

<form asp-route-id="@Model.IdDokument"
      asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="NazivDatoteka"></label>
        <div><span asp-validation-for="NazivDatoteka" class="text-danger"></span></div>
        <input asp-for="NazivDatoteka" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TipDokument" class="form-label"></label>
        <select asp-for="TipDokument" class="form-control">
            <option value=".txt">.txt</option>
            <option value=".docx">.docx</option>
            <option value=".xlsx">.xlsx</option>
            <option value=".pdf">.pdf</option>
            <option value=".c">.c</option>
            <option value=".cpp">.cpp</option>
            <option value=".java">.java</option>
            <option value=".cs">.cs</option>
            <option value=".json">.json</option>
            <option value=".exe">.exe</option>
        </select>
        <div class="form-text"><span asp-validation-for="TipDokument" class="text-danger"></span></div>
    </div>
    <div class="form-group">
        <label asp-for="VelicinaDokument" class="form-label"></label>
        <input id="sizeValue" class="form-control" type="number" required pattern="\d+" />
        <select id="sizeUnit" class="form-control">
            <option value="KB">KB</option>
            <option value="MB">MB</option>
            <option value="GB">GB</option>
        </select>
        <input type=hidden asp-for="VelicinaDokument" class="form-control" id="poslanaVelicina" />
        <div class="form-text"><span asp-validation-for="VelicinaDokument" class="text-danger"></span></div>
    </div>
    
    <div class="form-group">
        <label asp-for="IdVrstaDok"></label>
        <select class="form-control" asp-for="IdVrstaDok" asp-items="ViewBag.vrste">
            
        </select>
        <div class="form-text"><span asp-validation-for="IdVrstaDok" class="text-danger"></span></div>
    </div>
    <div class="form-group">
        <label asp-for="IdProjekt"></label>
        <select class="form-control" asp-for="IdProjekt" asp-items="ViewBag.projekti">
        </select>
        <div class="form-text"><span asp-validation-for="IdProjekt" class="text-danger"></span></div>
    </div>
    
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>

    <script>
       
        document.addEventListener('DOMContentLoaded', function () {
            var sizeValueInput = document.getElementById('sizeValue');
            var sizeUnitInput = document.getElementById('sizeUnit');
            var concatenatedSizeInput = document.getElementById('poslanaVelicina');

            var velicinaDoc = "@Model.VelicinaDokument";
            velicinaDoc = velicinaDoc.split(" ");

            sizeValueInput.value = velicinaDoc[0];

            for (var i = 0; i < sizeUnitInput.options.length; i++) {
                if (sizeUnitInput.options[i].value === velicinaDoc[1] ){
                    sizeUnitInput.options[i].selected = true;
                    break;  
                }
            }

            document.querySelector('form').addEventListener('submit', function () {
                
                concatenatedSizeInput.value = sizeValueInput.value + ' ' + sizeUnitInput.value;
            });
        });
    </script>
</form>