 @model RPPP_WebApp.Controllers.SuradnikPosaoViewModel
@{
    ViewBag.Title = "Suradnik br. " + @Model.suradnik.IdSuradnik;
}

<div class="container">
    <div class="row text-center">
        <div class="col-sm-2">
            @if (Model.IdPrethSuradnik != -1)
            {
                <a class="btn btn-sm btn-primary"
                   asp-action="Show"
                   asp-route-page="@ViewBag.Page"
                   asp-route-sort="@ViewBag.Sort"
                   asp-route-ascending="@ViewBag.Ascending"
                   asp-route-id="@Model.IdPrethSuradnik">
                    <i class="fas fa-step-backward">prethodni</i>
                </a>
            }
        </div>
        <div class="col-sm-8">
            <h4>
                @Model.suradnik.IdSuradnik/@Model.suradnik.Oib/@Model.suradnik.Ime/@Model.suradnik.Prezime/@Model.Kvalifikacija
            </h4>
        </div>
        <div class="col-sm-2">
            @if (Model.IdSljedSuradnik != -1)
            {
                <a class="btn btn-sm btn-primary" asp-action="Show"
                   asp-route-page="@ViewBag.Page"
                   asp-route-sort="@ViewBag.Sort"
                   asp-route-ascending="@ViewBag.Ascending"
                   asp-route-id="@Model.IdSljedSuradnik">
                    <i class="fas fa-step-forward">sljedeci</i>
                </a>
            }
        </div>
    </div>


    @if (Model.IdPrethSuradnik != -1)
    {
        <div class="row justify-content-sm-center">
            <div class="col-sm-2">
                Prethodni dokument:
            </div>
            <div class="col-sm-6">
                <a asp-action="Show" asp-route-id="@Model.IdPrethSuradnik" target="_blank">@Model.IdPrethSuradnik</a>
            </div>
        </div>
    }

    <div class="row justify-content-sm-center">
        <div class="col-sm-2">
            E-mail: @Model.suradnik.Mail
        </div>
        <div class="col-sm-2">
            Mobitel: @Model.suradnik.Mobitel
        </div>
        <div class="col-sm-2">
            OIB: @Model.suradnik.Oib
        </div>
        <div class="col-sm-2">
            Stranka: @Model.suradnik.Stranka
        </div>
        <div class="col-sm-2">
            Partner: @Model.suradnik.IdPartner
        </div>
        @* <div class="col-sm-1 text-right">
            <a asp-action="Edit"
               asp-route-id="@Model.IdDokumenta"
               target="_blank"
               class="btn btn-warning btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>
        </div> *@
        @* <form asp-action="Delete" method="post"
              asp-route-page="@ViewBag.Page"
              asp-route-sort="@ViewBag.Sort"
              asp-route-ascending="@ViewBag.Ascending"
              asp-route-filter="@ViewBag.Filter">
            <input type="hidden" name="IdDokumenta" value="@Model.IdDokumenta" />
            <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
        </form> *@
        <div class="col-sm-1 text-left">
            <a class="btn btn-sm btn-primary cancel"
               asp-action="Index"
               asp-route-page="@ViewBag.Page"
               asp-route-sort="@ViewBag.Sort"
               asp-route-ascending="@ViewBag.Ascending"
               title="Povratak na popis dokumenata">
                <i class="fas fa-undo-alt">povratak</i>
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    @{
                        string[] poslovi = { "Oznaka posla", "Opis posla", "Očekivano trajanje (dani)", "Uloga", "Vrsta posla" };
                        for (int i = 0; i < poslovi.Length; i++)
                        {
                            <th class="text-center">
                                @poslovi[i]
                            </th>
                        }
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 0;
                }
                @foreach (var posao in Model.poslovi.poslovi)
                {
                    <tr>
                        <td class="text-left col-sm-4">
                            @posao.IdPosao
                        </td>
                        <td class="text-right col-sm-1">
                            @posao.Opis
                        </td>
                        <td class="text-center col-sm-1">
                            @posao.PredVrTrajanjaDani
                        </td>
                        <td class="text-right col-sm-2">
                            @posao.Uloga
                        </td>
                        <td class="text-center">
                            @Model.poslovi.vrstaPosla
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div> 