@model Projekt

@{
    ViewBag.Title = "Ažuriranje Projekta";
}

<form asp-route-id="@Model.IdProjekt"
      asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Naziv"></label>
        <div><span asp-validation-for="Naziv" class="text-danger"></span></div>
        <input asp-for="Naziv" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Opis"></label>
        <div><span asp-validation-for="Opis" class="text-danger"></span></div>
        <input asp-for="Opis" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="VrPocetak"></label>
        <div><span asp-validation-for="VrPocetak" class="text-danger"></span></div>
        <input asp-for="VrPocetak" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="VrKraj"></label>
        <div><span asp-validation-for="VrKraj" class="text-danger"></span></div>
        <input asp-for="VrKraj" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IdTip"></label>
        <select class="form-control" asp-for="IdTip" asp-items="ViewBag.Tipovi">
            
        </select>
        <div class="form-text"><span asp-validation-for="IdTip" class="text-danger"></span></div>
    </div>
    
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>
</form>