@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model RPPP_WebApp.Models.Zadatak

@{
    ViewBag.Title = "Ažuriranje zadatka";
}

<form asp-route-id="@Model.IdZadatak"
      asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    @*Ne koristi se, jer se ne rekonstruira cijela država, već se samo koristi id koji je već u parametrima route*@
    @*<input type="hidden" asp-for="OznDrzave" />*@
    <div class="form-group">
        <label asp-for="Vrsta"></label>
        <div><span asp-validation-for="Vrsta" class="text-danger"></span></div>
        <input asp-for="Vrsta" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Oibnositelj">OIB nositelja</label>
        <div><span asp-validation-for="Oibnositelj" class="text-danger"></span></div>
        <input asp-for="Oibnositelj" class="form-control"></input>
    </div>
    <div class="form-group">
        <label asp-for="VrPoc">Vrijeme početka</label>
        <div><span asp-validation-for="VrPoc" class="text-danger"></span></div>
        <input asp-for="VrPoc" class="form-control"></input>
    </div>
    <div class="form-group">
        <label asp-for="VrKraj">Vrijeme kraja</label>
        <div><span asp-validation-for="VrKraj" class="text-danger"></span></div>
        <input asp-for="VrKraj" class="form-control"></input>
    </div>
    <div class="form-group">
        <label asp-for="VrKrajOcekivano">Očekivano vrijeme kraja</label>
        <div><span asp-validation-for="VrKrajOcekivano" class="text-danger"></span></div>
        <input asp-for="VrKrajOcekivano" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="IdStatus" class="form-label">Status zadatka</label>
        <select class="form-control" asp-for="IdStatus" asp-items="ViewBag.ZadatciStatusi">
            <option disabled selected value="">Odaberite status</option>
        </select>
        <div class="form-text"><span asp-validation-for="IdStatus" class="text-danger"></span></div>
    </div>


    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    @*     <partial name="IncludeValidation" />
 *@
}