
@model RPPP_WebApp.Models.Transakcija

@{
    ViewBag.Title = "Ažuriranje zadatka";
}

<form asp-route-id="@Model.PrimateljIban"
      asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    @*Ne koristi se, jer se ne rekonstruira cijela država, već se samo koristi id koji je već u parametrima route*@
    @*<input type="hidden" asp-for="OznDrzave" />*@

    <div class="form-group">
        <label asp-for="Opis"></label>
        <div><span asp-validation-for="Opis" class="text-danger"></span></div>
        <input asp-for="Opis" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Vrsta"></label>
        <div><span asp-validation-for="Vrsta" class="text-danger"></span></div>
        <input asp-for="Vrsta" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="SubjektIban"></label>
        <div><span asp-validation-for="SubjektIban" class="text-danger"></span></div>
        <input asp-for="SubjektIban" class="form-control" />
    </div>

    @*Potencijalno treba maknuti*@
    <div class="mb-3">
        <label asp-for="IdTransakcije" class="form-label">Status zadatka</label>
        <select class="form-control" asp-for="IdTransakcije" asp-items="ViewBag.ZadatciStatusi">
            <option disabled selected value="">Odaberite status</option>
        </select>
        <div class="form-text"><span asp-validation-for="IdTransakcije" class="text-danger"></span></div>
    </div>


    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    @*     <partial name="IncludeValidation" />
 *@
}