 @model RPPP_WebApp.Controllers.ZahtjevZadatakViewModel
@{
    ViewBag.Title = "Zahtjev br. " + @Model.zahtjev.IdZahtjev;
}


<div class="container">
    <div class="row text-center">
        <div class="col-sm-2">
            @if (Model.IdPrethZahtjev != -1)
            {
                <a class="btn btn-sm btn-primary"
                   asp-action="Show"
                   asp-route-page="@ViewBag.Page"
                   asp-route-sort="@ViewBag.Sort"
                   asp-route-ascending="@ViewBag.Ascending"
                   asp-route-id="@Model.IdPrethZahtjev">
                    <i class="fas fa-step-backward">prethodni</i>
                </a>
            }
        </div>
        <div class="col-sm-8">
            <h4>
                ID: @Model.zahtjev.IdZahtjev 
            </h4>
            
            <h5 class="boksic">
                <div>
                    Prioritet:  @Model.zahtjev.Prioritet
                </div> 
                <div>
                    Vrsta:  @Model.NazVrsta
                </div>
                <div> 
                    Opis: @Model.zahtjev.Opis
                </div>
            </h5>
        </div>
        <div class="col-sm-2">
            @if (Model.IdSljedZahtjev != -1)
            {
                <a class="btn btn-sm btn-primary" asp-action="Show"
                   asp-route-page="@ViewBag.Page"
                   asp-route-sort="@ViewBag.Sort"
                   asp-route-ascending="@ViewBag.Ascending"
                   asp-route-id="@Model.IdSljedZahtjev">
                    <i class="fas fa-step-forward">sljedeci</i>
                </a>
            }
        </div>
    </div>


  @*   @if (Model.IdPrethZahtjev != -1)
    {
        <div class="row justify-content-sm-center">
            <div class="col-sm-2">
                Prethodni dokument:
            </div>
            <div class="col-sm-6">
                <a asp-action="Show" asp-route-id="@Model.IdPrethZahtjev" target="_blank">@Model.IdPrethZahtjev</a>
            </div>
        </div>
    } *@

    <div class="row justify-content-sm-center">
        <div class="text-center">
            Vrijeme početka: @Model.zahtjev.VrPocetak.ToString("d.M.yyyy.")
        </div>
        <div class="text-center">
            Vrijeme očekivanog kraja: @Model.zahtjev.VrKrajOcekivano.ToString("d.M.yyyy.")
        </div>
        @if (Model.zahtjev.VrKraj.HasValue){
            <div class="text-center">
            Vrijeme stvarnog kraja: @Model.zahtjev.VrKraj
        </div>
        }
        @* <div class="col-sm-1 text-right">
            <a asp-action="Edit"
               asp-route-id="@Model.IdDokumenta"
               target="_blank"
               class="btn btn-warning btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>
        </div> *@
        @* <form asp-action="Delete" method="post"
              asp-route-page="@ViewBag.Page"
              asp-route-sort="@ViewBag.Sort"
              asp-route-ascending="@ViewBag.Ascending"
              asp-route-filter="@ViewBag.Filter">
            <input type="hidden" name="IdDokumenta" value="@Model.IdDokumenta" />
            <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
        </form> *@
        <div class="col-sm-1 text-center">
            <a class="btn btn-sm btn-primary cancel"
               asp-action="Index"
               asp-route-page="@ViewBag.Page"
               asp-route-sort="@ViewBag.Sort"
               asp-route-ascending="@ViewBag.Ascending"
               title="Povratak na popis dokumenata">
                <i class="fas fa-undo-alt">povratak</i>
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    @{
                        string[] nazivi = { "ID zadatka", "OIB Nositelja", "Vrsta zadatka", "Status zadatka", "Vrijeme početka", "Vrijeme kraja", "Vrijeme očekivanog kraja" };
                        for (int i = 0; i < nazivi.Length; i++)
                        {
                            <th class="text-center">
                                @nazivi[i]
                            </th>
                        }
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 0;
                }
                @foreach (var zadatak in Model.zadatci.zadatci)
                {
                    <tr class="text-center">
                        <td class="text-center col-sm-1">
                            @zadatak.IdZadatak
                        </td>
                        <td class="text-center col-sm-2">
                            @zadatak.Oibnositelj
                        </td>
                        <td class="text-center col-sm-1">
                            @zadatak.Vrsta
                        </td>
                        <td class="text-center col-sm-2">
                            @Model.zadatci.nazivStatusa[counter++]
                        </td>
                        <td class="text-center col-sm-2">
                            @zadatak.VrPoc.ToString("d.M.yyyy.")
                        </td>
                        <td class="text-center col-sm-2">
                            @zadatak.VrKraj
                        </td>
                        <td class="text-center col-sm-2">
                            @zadatak.VrKrajOcekivano.ToString("d.M.yyyy.")
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div> 