@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model RPPP_WebApp.Models.Partner

@{
    ViewBag.Title = "Ažuriranje partnera";
}

<form asp-route-id="@Model.IdPartner"
      asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Oib"></label>
        <div><span asp-validation-for="Oib" class="text-danger"></span></div>
        <input asp-for="Oib" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AdresaPartner"></label>
        <div><span asp-validation-for="AdresaPartner" class="text-danger"></span></div>
        <input asp-for="AdresaPartner" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Ibanpartner"></label>
        <div><span asp-validation-for="Ibanpartner" class="text-danger"></span></div>
        <input asp-for="Ibanpartner" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="EmailPartner"></label>
        <div><span asp-validation-for="EmailPartner" class="text-danger"></span></div>
        <input asp-for="EmailPartner" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="NazivPartner"></label>
        <div><span asp-validation-for="NazivPartner" class="text-danger"></span></div>
        <input asp-for="NazivPartner" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="IdProjekt" class="form-label">Projekt kojem zahtjev pripada</label>
        <select class="form-control" asp-for="IdProjekt" asp-items="ViewBag.ProjektiPopis">
            <option disabled selected value="">Odaberite id projekta</option>
        </select>
        <div class="form-text"><span asp-validation-for="IdProjekt" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="IdTipPartnera" class="form-label">Tip partnera</label>
        <select class="form-control" asp-for="IdTipPartnera" asp-items="ViewBag.PartneriVrste">
            <option disabled selected value="">Odaberite tip</option>
        </select>
        <div class="form-text"><span asp-validation-for="IdTipPartnera" class="text-danger"></span></div>
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>
</form>
