@model RPPP_WebApp.Controllers.PartnerViewModel

<h2>Popis Partnera</h2>

<a asp-action="Create">Unos novog Partnera</a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-end">
</pager>

<table class="table table-sm table-striped table-hover" id="tabledrzave">
    <thead>
        <tr>
            <th class="text-center">
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Oznaka partnera
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Naziv
                </a>
            </th class="text-center"> 
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Adresa stanovanja
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="4" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? !Model.PagingInfo.Ascending : true)">
                    Email adresa
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="5" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 5 ? !Model.PagingInfo.Ascending : true)">
                    OIB
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="6" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 6 ? !Model.PagingInfo.Ascending : true)">
                    IBAN 
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="7" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 7 ? !Model.PagingInfo.Ascending : true)">
                    Tip partnera
                </a>
            </th>
            <th class="text-center">
                Popis suradnika
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 0;
        }
        @foreach (var partneri in Model.partneri)
        {

            <tr>
                <td class="text-center">@partneri.IdPartner</td>
                <td class="text-center">@partneri.NazivPartner</td>
                <td class="text-center">@partneri.AdresaPartner</td>
                <td class="text-center">@partneri.EmailPartner</td>
                <td class="text-center">@partneri.Oib</td>
                <td class="text-center">@partneri.Ibanpartner</td>
                <td class="text-center">@Model.nazivVrste[counter]</td>
                <td class="text-center">@Model.popisSuradnika[counter++]</td>

                <td class="btn-group">
                    <a asp-action="Show"
                       asp-route-id="@partneri.IdPartner"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-sort="@Model.PagingInfo.Sort"
                       asp-route-ascending="@Model.PagingInfo.Ascending"
                       class="btn btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i>Detalji</a>
                    <a asp-action="Edit"
                       asp-route-id="@partneri.IdPartner"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-sort="@Model.PagingInfo.Sort"
                       asp-route-ascending="@Model.PagingInfo.Ascending"
                       class="btn btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i>Uredi</a>

                    <form asp-action="Delete" method="post"
                          asp-route-page="@Model.PagingInfo.CurrentPage"
                          asp-route-sort="@Model.PagingInfo.Sort"
                          asp-route-ascending="@Model.PagingInfo.Ascending">
                        <input type="hidden" name="OznDrzave" value="@partneri.IdPartner" />
                        <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">
                            Obriši

                        </button>
                    </form>
                </td>
            </tr>

        }
    </tbody>

</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
    @* <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tabledrzave').DataTable({
                language: {
                    search: "Pretraga",
                    info: "_START_ - _END_ (ukupno _TOTAL_)",
                    lengthMenu: "Prikaži _MENU_ zapisa",
                    paginate: {
                        first: "Prva",
                        previous: "Prethodna",
                        next: "Sljedeća",
                        last: "Zadnja"
                    },
                    emptyTable: "Nema podataka za prikaz",
                    info: "_START_ - _END_ od ukupno _TOTAL_ zapisa",
                    infoEmpty: "Nema podataka za prikaz",
                    infoFiltered: "(filtrirano od ukupno _MAX_ zapisa)",
                }
            });
        });
    </script> *@
}